.article-info {
    box-sizing: border-box;
    padding: 35px 40px 30px 50px;
    margin-bottom: 20px;
}

.article-info > .article-category {
    font-size: 14px;
    color: #757575;
}
.article-info > .article-category > a {
    color: inherit;
    font-weight: bold;
}

.article-info .article-title {
    margin-bottom: 20px;
}

.article-info .article-title > a {
    color: #545454;
    font-size: 30px;
    font-weight: bold;
}

.article-info > .article-publish-date {
    color: #757575;
    font-size: 16px;
}

/* Article Info List */
.article-info-list > .article-info {
    margin-bottom: 15px;
    background: #c5e4ec;
}

.article-info-list > .article-info:last-child {
    margin-bottom: 0;
}

.article-info-list > .article-info:nth-of-type(2n) {
    background: rgb(228, 233, 204);
}