/** main part **/
.content-paginator {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Fix bootstrap pagination's links' color */
.content-paginator .page-link {
    color: #78afbd;
}

.content-paginator:not(.pagination-lg) {
    justify-content: center;
}
.content-paginator:not(.pagination-lg) .page-link {
    padding: 15px 18px;
    font-size: 18px;
}
