.section-page-content-nav-bar > a {
    color: inherit;
}

.section-page-content-nav-bar > span {
    margin: 10px;
}

.section-page-content-nav-bar > a.active {
    color: #8ad1e2;
    font-size: 75px;
    font-weight: 300;
    text-decoration: none;
    vertical-align: -5px;
}