html {
    background: #EAEFEF;
}

body {
    background: inherit;
    font-family: "Microsoft YaHei", "微软雅黑", Verdana, Geneva, Tahoma, sans-serif;
    animation: 0.3s ease-in 0s fade-in;
    position: relative;
}

main {
    width: 600px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    margin: 0 auto 40px;
    width: 100%;
    text-align: center;
    color: #257885;
    font-size: 56px;
    font-weight: 400;
    font-family: 'FangSong', '仿宋', 'Courier New', Courier, monospace;
}


.form-wrapper {
    width: calc(100% - 20px);
    box-sizing: content-box;
    border-left: 20px solid #00B0CB;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#login-form {
    width: 100%;
    padding: 0 10%;
    border-left: 0;
    padding-bottom: 40px;
    background: white;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#login-form .header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-form .header-part button {
    color: #454545;
}

#login-form h1 {
    margin: 20px 0;
    color: #00B0CB;
}

.brand-text {
    display: block;
    width: calc(100% - 20px);
    margin: 5px 20px 5px;
    color: darkgrey;
}

#login-form button[type="submit"] {
    background: #006E80;
    color: white;
    margin-top: 1.5em;
}

#login-failed-alert {
    position: absolute;
    width: 220px;
    left: 0;
    right: 0;
    top: 30px;
    opacity: 1;
    margin: auto;
    transition:
        top 200ms ease-in,
        opacity 150ms ease-in;
}

#login-failed-alert.hide {
    opacity: 0;
    top: -60px;
    transition:
        top 200ms ease-in,
        opacity 150ms ease-in;
}

@keyframes fade-in {
    from { opacity: 0; }
    to {  opacity: 1; }
}
