
html {
    font-family:  'STHeiti', 'Hiragino Sans GB', "Microsoft YaHei", "微软雅黑", Verdana, Geneva, Tahoma, sans-serif;
    animation: 0.3s ease-in 0s fade-in;
    position: relative;
    font-size: 14px;
}

main {
    width: 550px;
    margin: 0 auto;
    margin-top: 200px;
}

.page-title {
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    padding: 0.25em;
    margin-bottom: 1.5em;
    width: 100%;

    box-sizing: border-box;
    text-align: center;

    font-family: 'STSong', 'NSimSun', 'SimSun', serif;
    font-weight: normal;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.25em;
}

.login-hint {
    text-align: center;
    font-family: 'STSong', 'NSimSun', 'SimSun', serif;
    font-weight: normal;
    font-size: 2em;
    width: 10em;
}

#login-form {
    width: 80%;
    margin: 0 auto;
}

.form-section {
    font-size: 1rem;
    margin-bottom: 1.5em;
    font-size: inherit;
}

.form-section.password {
    margin-bottom: 4rem;
}

.form-section > .form-input {
    width: 100%;
}

.form-input {
    margin-bottom: 1em;
}

.form-input label {
    display: block;
    flex-basis: 3em;
    margin-right: 1em;
}

.form-input input {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #AEAEAE;
    padding: 0.5em 0;
    font-size: inherit;
}

.form-input .incorrect-prompt {
    opacity: 0;
    display: block;
}


.form-input.incorrect label {
    color: #960000;
    transition: color 0.5s;
}

.form-input.incorrect input {
    border-bottom-color: #960000;
    transition: border 0.5s;
}

.form-input.incorrect .incorrect-prompt {
    opacity: 1;
    color: #960000;
    transition: opacity 0.5s;
}

.form-section > .form-submit {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-section > .form-submit > button {
    box-sizing: border-box;
    font-size: calc(1rem + 2px);
    background: none;
    border: none;
    cursor: pointer;
    flex: 0;
    flex-basis: 45%;
    height: 2.5em;
}

.form-section > .form-submit > .form-button-confirm {
    background: #232323;
    color: white;
}

.form-section > .form-submit > .form-button-cancel {
    border: 1px solid #232323;
}

#powered-by {
    display: block;
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: calc(1rem - 2px);
    text-align: center;

    color: #AEAEAE;
}

#login-hint {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}
