$theme-colors: (
    blue-0: #4DE7FF,
    blue-1: #00DDFF,
    blue-2: #00B0CB,
    blue-3: #006E80
);

/* RESETS */
body, html {
    font-size: 14px;
    margin: 0;
    padding: 0;
    min-width: 940px;
    min-height: 900px;

    background: white;
}
    
li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* RESETS */


#site-nav {
    height: 60px;

    background: rgb(14, 115, 133);

    position: fixed; // fixed at the top of the browser's window
    top: 0;
    left: 0;
    width: 100%;

    > .content-wrapper {
        margin: 0 1rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .site-title {
        display: flex;
        align-items: center; // center the text vertically
        color: white;
        font-weight: normal;
        font-size: 24px;
        font-family: 'FangSong';
    }

    .nav-links {
        display: flex;
        align-items: stretch;

        > .link {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            color: white;
        }

        // Set difference font-size and text color to the link that is selected.
        > .link.selected {
            position: relative;
            font-weight: normal;
            font-size: 110%;
            background: rgb(23, 155, 179);
        }

        // Add additional "stroke" at the link that is selected.
        > .link.selected::after {
            content: ' ';
            position: absolute;
            width: 100%;
            bottom: -15px;
            left: 0;
            border-bottom: 15px rgb(23, 155, 179) solid;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        
        // Action when mouse is put over the link.
        > .link:hover {
            background: rgb(23, 155, 179);
            
            > a { text-decoration: underline; }
        }
    }
}

#site-article-list {
    width: 880px;
    
    margin: 150px auto 0 auto;

    > .list-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-bottom: 80px;

        > .margin-wrapper {
            letter-spacing: 0.5em;
            line-height: 1.5;
            text-align: center;
            font-size: 18px;
            font-weight: normal;
            padding-left: 1em;
            border-left: 3px rgb(190, 190, 190) solid;
        }
    }

    > .list-body {

        > .article {
            margin-bottom: 30px;

            > .article-title {
                margin-bottom: 0.5em;
                font-size: 20px;
                font-weight: bold;
            }

            > .article-info {
                display: flex;
                align-items: stretch;
                font-size: 16px;

                > img {
                    width: 195px;
                    height: 130px;
                    border-radius: 5px;
                    flex: 0;
                }

                > .article-descriptions {
                    flex: 1;
                    margin-left: 1em;

                    > .article-preview {
                        height: 80%;
                    }

                    > .article-extras {
                        display: flex;
                        align-items: center;
                        height: 20%;
                        
                        > a {
                            font-size: 1rem;
                            text-decoration: none;
                            color: #00B0CB;
                        }

                        > .section-link {
                            font-weight: bold;
                            height: 100%;
                        }

                        > .series-link {
                            height: 100%;
                        }
                        
                        > .series-link::before {
                            content: '>';
                            height: 100%;
                            font-size: 10px;
                            padding: 0 5px;
                            vertical-align: middle;
                        }

                        > .publish-date {
                            font-size: 1rem;
                            margin-left: auto;
                            padding-right: 1em;
                            border-right: 2px #006E80 solid;
                        }

                        > .publish-date::before {
                            content: '发布于'
                        }

                    }
                }
            }
        }
    }
}