/*
Created Time: 2020/1/1 - 0:08
Author: StephenChips

This file add more general css rules base on the file 'normalize.css',
which might override curtain rules.
*/

html {
    font-size: 16px; /* size of regular font  */
    font-family:  Helvetica, 'Arial', 'Hiragino Sans GB', 'STHeiti Light', 'Microsoft YaHei', sans-serif;
}

body {
    line-height: 1.5;
    min-height: 980px;
}

a {
    color: #343434;
}

a.plain,
a:not([href]) {
    text-decoration: none;
    color: inherit;
}

ul.plain,
ol.plain {
    list-style-type: none;
    padding: 0;
}

ul.horizontal,
ol.horizontal {
    display: flex;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: 'EB Garamond', 'STSong', 'NSimSun', 'SimSun', serif;
}

code, pre {
    font-family: 'Courier New', Courier, monospace;
}

.f-small {
    font-size: 14px;
}

.f-large {
    font-size: 18px;
}

input {
    font-size: 18px;
    line-height: 1.5;
    padding: 3px 0;
    margin: 0;
    border: none;
    border-bottom: 1px #D4D4D4 solid;
    transition: border 0.5s;
}

input:focus {
    border-bottom-color: #343434;
    outline: none;
}

input.incorrect {
    border-bottom-color: #960000;
}

button {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 0;
}

button.primary {
    background: #232323;
    color: white;
}

button.secondary {
    background: white;
    color: black;
    border: 1px solid black;
}

button.disabled {
    background: white;
    color: #D4D4D4;
    border: 1px solid #D4D4D4;
}
