<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="public/stylesheets/login.css">
  <title>Document</title>
</head>
<body class="hide">
  <div id="login-failed-alert" class="alert alert-danger" role="alert">
    <span class="alert-text"></span>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <main>
    <h1 class="page-title">
      欢迎回来！
    </h1>
    <div class="form-wrapper">
      <form id="login-form" novalidate>
        <div class="header-part">
            <h1>请登录</h1>
            <a class="btn btn-light" href="/">返回主页</a>
        </div>
        <div class="form-group">
          <label for="user-name-input">用户名</label>
          <input type="text" class="form-control" id="user-name-input" required>
          <div class="invalid-feedback">请输入用户名！</div>
        </div>
        <div class="form-group">
          <label for="password-input">密码</label>
          <input type="password" class="form-control" id="password-input" required>
          <div class="invalid-feedback">请输入密码！</div>
        </div>
        <button type="submit" class="btn btn-block">确认</button>
      </form>
    </div>
    <small class="brand-text">
      Powered By Hummingbird Blog System<br>
      由蜂鸟博客系统搭建
    </small>
  </main>
  <script src="/public/javascripts/login.js"></script>
</body>
</html>
